/*
 Theme Name:   MEO
 Theme URI:    http://www.meomeo.ch/
 Description:  Customisations of the Virtue theme for Charmey
 Author:       MEO
 Author URI:   http://www.meomeo.ch
 Template:     html5blank-stable
 Version:      1.0.0
*/

html,
html body
{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
html body
{
    padding-bottom: 100px;
}
h2
{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin: 25px 0;
}
textarea
{
    height: 100px !important;
}
h2.title-section
{
    color: #dd3333;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
}
body > section
{
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
}
#project-number
{
    visibility: hidden;
}
#logo
{
    text-align: center;
    width: 100%;
    color: #dd3333;
}

#logo > h1
{
    font-size: 35px;
    font-weight: bold;
    margin: 5px 0 40px 0;
    text-transform: uppercase;
}

span.requi#dd3333
{
    color: #dd3333;
}

span.wpcf7-list-item-label
{
    margin-left: 3px;
}

.bloc-question
{
    width: 100%;
    border: 1px solid #aaa;
}
.bloc-question h2
{
    color: #dd3333;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0;
    margin-top: 0px;
    border-bottom: 1px solid #aaa;
    padding-left: 10px;
}
.col-end
{
    clear: both;
}
.bloc-question div
{
    padding: 0 10px;
}
.bloc-question div div.form-group
{
    display: block;
    width: 100%;
}
.form-group > label,
.bloc-question div div.form-group > label
{
    width: 60%;
}
.bloc-question div div.form-group > span.wpcf7-form-control-wrap
{
    width: 30%;
    float: right;
}
.form-group span.wpcf7-form-control-wrap .select-score
{
    width: 5%;
    float: right;
}
.col-end
{
    clear: both;
}
.btn-meo
{
    padding: 8px 0;
    width: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #dd3333;
    border: 1px solid #dd3333;
}
p.txt-info
{
    font-size: 18px;
    margin: 20px 0;
}
#data-grid
{
    margin: 20px 0 40px 0;
}

#data-grid,
#data-grid tr,
#data-grid tr td
{
    border: 1px solid #dd3333;
    border-collapse: collapse;
}
#data-grid tr td
{
    width: 16%;
    font-size: 16px;
    padding: 5px;
    text-align: center;
}
/* MESSAGE ERROR */
.wpcf7-validates-as-required.wpcf7-not-valid
{
    border: 1px solid #dd3333;
}
.wpcf7-not-valid-tip[role=alert],
.wpcf7-response-output.wpcf7-validation-errors[role=alert]
{
    color: #dd3333;
    display: block;
}
.screen-reader-response[role=alert]
{
    padding: 5px 10px;
    margin: 20px 0 25px 0;
    color: #dd3333;
    border: 1px solid #dd3333;
}
.bloc-chart
{
    position: relative;
}
.bloc-chart #scoreOn6
{
    margin-bottom: 20px;
}
.popup-data
{
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.list-questions
{
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    background-color: #fff;
    width: 50%;
    border: 1px solid #aaa;
    padding: 35px 20px;
    margin-left: 25%;
    margin-top: 10%;
}
.list-questions i
{
    float: right;
    cursor: pointer;
}
.form-user-popup > .info-contact
{
    width: 100%;
    display: flex;
}
.form-user-popup .question .reponse
{
    float: right;
    font-weight: bold;
}
.form-user-popup > .info-contact
{
    width: 100%;
    display: flex;
}
.form-user-popup > .info-contact > .icon-contact
{
    float: left;
    width: 40%;
    font-size: 150px;
    text-align: right;
}
.form-user-popup > .info-contact > .info-details
{
    float: left;
    width: 30%;
    padding-top: 80px;
    text-align: center;

}
.form-user-popup .fa-times.close-popup
{
    float: right;
    font-size: 20px;
    cursor: pointer;
}
.form-user-popup
{
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    background-color: #fff;
    width: 50%;
    height: 80%;
    border: 1px solid #aaa;
    padding: 35px 20px;
    margin-left: 25%;
    margin-top: 5%;
    overflow-y: scroll;
}
i.fa-question-circle-o
{
    font-size: 20px;
    cursor: pointer;
}
i.fa-question-circle-o:hover
{
    color: #aaa;
}
.form-user
{
    width: 100%;
    cursor: pointer;
    padding: 15px 10px;
    border: 1px solid #aaa;
    margin-bottom: 20px;
}
.form-user i
{
    font-size: 25px;
}
.form-user i,
.form-user span
{
    margin-right: 20px;
    text-align: center;
}
.form-user span.name
{
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
.btn-close-popup
{
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 50px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #dd3333;
    background-color: #dd3333;
    padding: 10px;
}
.btn-generate-pdf
{
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 0px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #999;
    background-color: #aaa;
    padding: 10px;
}
/* REPORT */
#navigation-report
{
    display: block;
    width: 100%;
}
#navigation-report > ul
{
    width: 100%;
    padding: 0;
}
#navigation-report > ul > li
{
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

